<div class="card text-center">
  <div class="card-header">
    <span class="card-title float-left">{{ title }}</span>
    <div class="btn-group  float-right" role="group" aria-label="Basic example">
        <button id="{{ chart_id }}-reset-zoom" type="button" class="btn btn-success">Reset zooming</button>
        <button id="{{ chart_id }}-connect" type="button" class="btn btn-danger">Connect</button>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-container" style="position: relative; height:300px; width:90%;margin: auto">
        <canvas id="{{ chart_id }}"></canvas>
    </div>
  </div>
</div>

<script>
    new SensorChartEngine('{{ chart_id }}', '{{ url }}', {{ port }}, {{ refresh_rate }});
</script>