<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <input type="text" class="form-control mr-sm-2" placeholder="Init sensor port" aria-label="InitSensorPort" aria-describedby="basic-addon1">
    <input type="text" class="form-control mr-sm-2" placeholder="Init feature port" aria-label="InitFeaturePort" aria-describedby="basic-addon1">
    <input type="text" class="form-control mr-sm-2" placeholder="Max number of devices" aria-label="MaxDevices" aria-describedby="basic-addon1">
    <button class="btn btn-outline-success" type="submit">Scan devices</button>
  </form>
</nav>