<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ title }} <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
        <button id="{{ chart_id }}-reset-zoom" type="button" class="btn btn-success">Reset zooming</button>
        <button id="{{ chart_id }}-connect" type="button" class="btn btn-danger">Connect</button>
    </div></h5>
    
    <div class="chart-container" style="position: relative; height:250px; width:100%;margin: auto">
        <canvas id="{{ chart_id }}"></canvas>
    </div>
  </div>
</div>

<script>
    new SensorChartEngine('{{ chart_id }}', '{{ url }}', {{ port }}, {{ refresh_rate }});
</script>