<html>
{% with title=title %}
    {% include 'components/head.j2' %}
{% endwith %}
<body>
<div class='container-fluid'>
    {% include 'components/sensors.j2' %}
    {% include 'components/feature_and_prediction.j2' %}
</div>
</body>
</html>