<html>
{% with title=title %}
    {% include 'components/head.j2' %}
{% endwith %}
<h1>{{ title }}</h1>

{% for i in range(config.max_sensors) %}
    {% with values=values, chart_id="sensor_time_series_chart_" ~ i, title="Sensor signal", url=config.url, port=config.init_port + i, refresh_rate = config.refresh_rate %}
        {% include 'components/sensor_time_series_chart.j2' %}
    {% endwith %}
{% endfor %}

{# {% for chart_index in range(config.max_sensors) %}
    {% with values=values, chart_id="sensor_time_series_chart_" + chart_index, title="Sensor signal", url=config.url, port=config.init_port + chart_index, refresh_rate = config.refresh_rate %}
        {% include 'components/sensor_time_series_chart.j2' %}
    {% endwith %}
{% endfor %} #}
</html>